<style media="screen">
.fixed-top{
  position: webkit sticky;
  position: sticky;
}
body {
  position: relative;
}
.container{
 background: rgba(0, 0, 0, 0.08);
 border-radius: 20px;
}
.container-fluid{
 background: rgba(0, 0, 0, 0.2);
 width: 100%;
 font-size: 20px;
}
.custom-nav{
  color: white;
  padding-top: 10px;
}

ul{
  list-style-type: none;
}
li{
  display: inline;
  vertical-align: middle;
  font-size: 20px;
  padding-right: 5px;
}
li a{
  color: #595959;
}
li a.active{
  color: white;
  border-bottom: solid;
  text-decoration: none;
  padding-bottom: 16px;
  border-width: thin;
}
li a:hover:not(.active){
  color: #b7b7b7;
  text-decoration: none;
}

.font-italic{
  font-style: italic;
  font-weight: 100;
  letter-spacing: 5px;
}

.logo-overlay{
  position: absolute;
  top: -150px;
  left: -150px;
  transform: rotate(35deg);
  filter: blur(15px);
  z-index: -1;
  opacity: .1;
}
</style>
